<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.caliconography.android.miminenreichecker">

    <application>
        <uses-library android:name="android.test.runner" />
    </application>
    <!--suppress AndroidDomInspection -->
    <instrumentation
        android:name="dummy"
        android:targetPackage="jp.caliconography.miminenreichecker.app" />
</manifest>